body{
width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title{
  font-family: 'Rubik-Bold';
}

.subtitle{
  margin-left: 200px;
  margin-right: 200px;
}

.transition{
  width:100vw;
  background-color: black;
}

.App-header {
  background-color: #000080;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family:'Rubik-Regular';
  color: #FADCD9; /*15c3eb;*/
}

.App-section {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  font-size: calc(10px + 2vmin);
  font-family:'Rubik-Regular';
  color: #000080;
  margin-top:30px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.beforeAfter{
  width: 100%;
  margin-top: 30px;
}

@media all and (max-width: 375px){
  .logo{
    width: 300px;
  }
}
@media all and (max-width: 1000px){
  .App-section {
   margin-left:100px;
   margin-right:100px;
  }
}

@media all and (max-width: 2000px) and (min-width: 1001px) {
  .App-section {
   margin-left:400px;
   margin-right:400px;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face{
  font-family:'Rubik-Regular';
  src: local('Rubik-Regular'), url(./fonts/Rubik/Rubik-Regular.ttf) format('truetype');
}

@font-face{
  font-family:'Rubik-Bold';
  src: local('Rubik-Bold'), url(./fonts/Rubik/Rubik-Bold.ttf) format('truetype');
}
